<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mc Productions</title>

    <link rel="stylesheet" href="../static/css/master.css">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">GDating</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="Studio.html"><span class="sr-only">(current)</span></a></li>
                <li><a href="Games.html"></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="col-lg-4">

    </div>

    <div class="col-lg-4">

        <p class="lead">Nun wollen wir wissen wer du bist, denn nur so können wir die auf dich maßgeschneiderten
            Partnervorschläge erstellen</p>
        <p class="text-success">Die Fragen lassen sich am Besten mit Bauchgefühl beantworten. ;D Keine Sorge dies dauert
            keine 15 Minuten</p>
        <p class="text-danger">Zu viel nachdenken verfälscht die Ergebnisse und dies führt zu ungenauen Vorschlägen und
            könnte im Worst-Case den Traumpartner kosten. You have been warned. :O</p>


        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Antwort <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li onclick="onClickMen()"><a>Antwortmöglichkeit 1</a></li>
                        <li role="separator" class="divider"></li>
                        <li onclick="onClickWomen()"><a>Antwortmöglichkeit 2</a></li>
                        <li role="separator" class="divider"></li>
                        <li onclick="onClickOther()"><a>Antwortmöglichkeit 3</a></li>
                        <li role="separator" class="divider"></li>
                        <li onclick="onClickLast()"><a>Antwortmöglichkeit 4</a></li>
                    </ul>
                </div><!-- /btn-group -->
                <input type="text" class="form-control" id="displayAnswer1" disabled>
            </div><!-- /input-group -->
        </div>


        <div class="form-group">
            <input type="submit" class="form-control btn btn-primary" id="" value="Registrieren">
        </div>
    </div>

</div>

<div class="col-lg-4">

</div>
</div>
<script type="text/javascript">
    function onClickMen() {
        var answerP11 = "Antwortmöglichkeit 1";
        showGender(answerP11);
    }

    function onClickWomen() {
        var answerP11 = "Antwortmöglichkeit 2";
        showGender(answerP11);
    }

    function onClickOther() {
        var answerP11 = "Antwortmöglickeit 3";
        showGender(answerP11);
    }

    function onClickLast() {
        var answerP11 = "Antwortmöglichkeit 4"
        showGender(answerP11)
    }

    function showGender(answerP11) {
        $('#displayAnswer1').val(answerP11);
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>