This is a collaboration project done by Blender's discord members. Link to the server: https://www.discord.gg/blender
<br>
Credits:
<br>
    Crate by Jeremiah
    <br>
    Scale by KuroTsubasa1
    <br>
    Cupboard, Cabinetby Mochi
    <br>
    Fridge, Salad Dish by RiskingRaj
    <br>
    Oven by Somebeing
    <br>
    Plates and Cups, Jars, Sweets Dish by The Grim
    <br>
    Two Jars, Carboad Boxes by hamoudebu50
    <br>
    Books on Shelf xDjAlchatraz
    <br>
    Bookshelf by SomewhatMighty
    <br>
    Clock by Bmanruffin
    <br>
    Three Pictures by vinnie
    <br>
    Jars and Salt dispenser by ryanjr
    <br>
    Cactus Plant by Pandude
    <br>
    Curtains, Chair, Bread Basket by Aaron
    <br>
    Flowers by Syrsly
    <br>
    Tap by Donatello
    <br>
    Soap Holder, Spagetti Dish, Salt, Pepper, Vinegar, Oven Mits and Towel by 3Rton
    <br>
    Microwave, Alarm Clock, Ceiling Lamp by BlenderBots
    <br>
    Shelves with objects, Recipe Book, Candy Bag by Tim
    <br>
    Onions and Carrot by Hark
    <br>
    Counter by Spacetree
    <br>
    Metal rack by triclr
    <br>
    Large Table, Fruit Basket, Oven Cabinet, Radio by Qbalonka
    <br>
    Pizza, Kettle  by Andreas
    <br>
    Box of Apples by Panda
    <br>
    Teapot by Gspin
    <br>
    Two-Handled Pot,Spatula, Mitten, Cookware Rack by Yusuf
    <br>
    Red Cooking Pot, Jars by ChrisB
    <br>
    Two Plates by diffract
    <br>
    Cheese by namememe
    <br>
    Hanging Mugs by Boss
    <br>
    Bag and Sack by DonKeehot
    <br>
    Cutting Board by Rory-X36
<br>
Lighting and Rendering by: Jeremiah
<br>
Texturing and Project Management by: diffract.
<br>
This work is licensed with CC-0. You can use it however you want but it would be nice to give credit to the creators.
