<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="">

    <h3 class="text-center">This is a collaboration project done by Blender's discord members. Link to the server: https://www.discord.gg/blender<small></small></h3>
    <br>
    
    <h3 class="text-center"><strong>Credits:</strong></h3>

    <ul class="list-group">
      <li class="list-group-item text-center">Crate by Jeremiah</li>
      <li class="list-group-item text-center">Scale by KuroTsubasa1</li>
      <li class="list-group-item text-center">Cupboard, Cabinetby Mochi</li>
      <li class="list-group-item text-center">Fridge, Salad Dish by RiskingRaj</li>
      <li class="list-group-item text-center">Oven by Somebeing</li>
      <li class="list-group-item text-center">Plates and Cups, Jars, Sweets Dish by The Grim</li>
      <li class="list-group-item text-center">Two Jars, Carboad Boxes by hamoudebu50</li>
      <li class="list-group-item text-center">Books on Shelf xDjAlchatraz</li>
      <li class="list-group-item text-center">Bookshelf by SomewhatMighty</li>
      <li class="list-group-item text-center">Clock by Bmanruffin</li>
      <li class="list-group-item text-center">Three Pictures by vinnie</li>
      <li class="list-group-item text-center">Jars and Salt dispenser by ryanjr</li>
      <li class="list-group-item text-center">Cactus Plant by Pandude</li>
      <li class="list-group-item text-center">Curtains, Chair, Bread Basket by Aaron</li>
      <li class="list-group-item text-center">Flowers by Syrsly</li>
      <li class="list-group-item text-center">Tap by Donatello</li>
      <li class="list-group-item text-center">Soap Holder, Spagetti Dish, Salt, Pepper, Vinegar, Oven Mits and Towel by 3Rton</li>
      <li class="list-group-item text-center">Microwave, Alarm Clock, Ceiling Lamp by BlenderBots</li>
      <li class="list-group-item text-center">Shelves with objects, Recipe Book, Candy Bag by Tim</li>
      <li class="list-group-item text-center">Onions and Carrot by Hark</li>
      <li class="list-group-item text-center">Counter by Spacetree</li>
      <li class="list-group-item text-center">Metal rack by triclr</li>
      <li class="list-group-item text-center">Large Table, Fruit Basket, Oven Cabinet, Radio by Qbalonka</li>
      <li class="list-group-item text-center">Pizza, Kettle by Andreas</li>
      <li class="list-group-item text-center">Box of Apples by Panda</li>
      <li class="list-group-item text-center">Teapot by Gspin</li>
      <li class="list-group-item text-center">Two-Handled Pot,Spatula, Mitten, Cookware Rack by Yusuf</li>
      <li class="list-group-item text-center">Red Cooking Pot, Jars by ChrisB</li>
      <li class="list-group-item text-center">Two Plates by diffract</li>
      <li class="list-group-item text-center">Cheese by namememe</li>
      <li class="list-group-item text-center">Hanging Mugs by Boss</li>
      <li class="list-group-item text-center">Bag and Sack by DonKeehot</li>
      <li class="list-group-item text-center">Cutting Board by Rory-X36</li>
    </ul>

    <br>
    <strong>
      <p class="text-center">Lighting and Rendering by: Jeremiah</p>
      <p class="text-center">Texturing and Project Management by: diffract.</p>
      <p class="text-center">This work is licensed with CC-0. You can use it however you want but it would be nice to give credit to the creators.</p>
      </strong>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>
