<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="mockup.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="bg-login">

    <div class="center-vertical center-horizontal ">


      <div class="well well-sm center-well">

            <div class="form-group">
              <div class="login-logo center-horizontal top-margin"></div>
              <p class="lead center top-margin">SnipShare</p>
              <label for="username">Username</label>
              <input type="text" class="form-control" id="" placeholder="">
              <br>
              <label for="password">Password</label>
              <input type="password" class="form-control" id="" placeholder="">
              <br>
              <input type="button" class="btn btn-default form-control" id="" value="Login" placeholder="">
              <br>
              <a href="#">Password vergessen ? </a>
            </div>
          </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
