<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.1.0/octicons.min.css">
    <link rel="stylesheet" href="mockup.css">
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

      <div class="col-md-3 base-left">

        <div class="btn-group btn-group-justified" role="group" aria-label="..." id="left-menu">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> </button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </button>
          </div>
        </div>

        <div class="btn-group btn-group-justified" role="group" aria-label="..." id="left-menu">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
          </div>

        </div>

        <div class="top-margin lead">
          Projekt > Module 1
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 1 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 2 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 3 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 4 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

        <div class="card card-shadow">
          <div class="project-img center-vertical floatLeft"></div>
          <div class="center-vertical">
            <p class="lead">Snippet 5 </p>
          </div>
        </div>

      </div>

      <div class="taskbar">
        <div id="imaginary_container" class="floatLeft taskbar-margin-left taskbar-margin-top">
          <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Search" >
                    <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
        </div>
        <button type="button" class="btn btn-default taskbar-margin-top floatRight taskbar-margin-right"> <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> </button>
      </div>

      <div class="col-md-9 base-right">

        <div class="panel panel-default top-margin">

          <div class="panel-body">
            <h3>Title for Snippet 1 <br> <small>by Lasse</small></h3>

            <div class="btn-group">
              <button type="button" class="btn btn-default a" aria-label="Right Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default a" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default a" aria-label="Right Align">
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
              </button>
            </div>


            <div class="well well-sm top-margin">
              <code>&lt;script&gt; let y = mx + b; &lt;/script&gt;</code>
            </div>

            <hr>

            <h4>Beispiel für Snippet 1</h4>
            <div class="well well-sm">
              <var>let y</var> = <var>m</var><var>x</var> + <var>b</var>;
            </div>
          </div>

        </div>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
