<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lasse Harm</title>

  <link rel="stylesheet" href="../../static/css/master.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/css/bootflat.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <div class="site-indicator">
    <img id="page-indicator-1" class="circle img-responsive" src="../../static/img/circleActive.png" alt="">
    <img id="page-indicator-2" class="circle img-responsive" src="../../static/img/circle.png" alt="">
    <img id="page-indicator-3" class="circle img-responsive" src="../../static/img/circle.png" alt="">
    <img id="page-indicator-4" class="circle img-responsive" src="../../static/img/circle.png" alt="">
    <img id="page-indicator-5" class="circle img-responsive" src="../../static/img/circle.png" alt="">
  </div>

  <div id="page1" class="frontpannel">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Lasse Harm</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
          <ul class="nav navbar-nav">
            <li id="btn-art" class=""><a href="#">3D Artwork</a></li>
            <li id="btn-game" class=""><a href="#">Games/Demos</a></li>
            <li id="btn-web" class=""><a href="#">Web Developement</a></li>
            <li id="btn-mob" class=""><a href="#">Mobile Developement</a></li>
            <!-- <li class="disabled"><a href="#">Link</a></li> -->
            <!-- <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu" role="menu">
                            <li class="dropdown-header">Setting</li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="active"><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li class="disabled"><a href="#">One more separated link</a></li>
                          </ul>
                        </li> -->
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!--

    my own nav approach

    <div class="menu">
      <div class="container">

        <div class="col-md-2">
          <div class="form-group">
            <p class="lead">Lasse Harm</p>
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input id="btn-art" type="button" class="form-control btn btn-default" value="3D Artworks">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input id="btn-game" type="button" class="form-control btn btn-default" value="Game/Demos">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input id="btn-web" type="button" class="form-control btn btn-default" value="Web Developement">
          </div>
        </div>

        <div class="col-md-2">
          <div class="form-group">
            <input id="btn-mob" type="button" class="form-control btn btn-default" value="Mobile Developement">
          </div>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <img class="img-responsive img-circle frontpannel-logo shadow-3" src="../../static/img/newLogo.png" alt="">
        <img class="img-responsive frontpannel-logo" src="../../static/img/lasse.png" alt="">
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>




  <div id="page3" class="blender">
    <div class="container">
      <div class="page-header">
        <h1><img class="blender-logo" src="../../static/img/blenderLogo.png" alt=""><small> 3D Artworks</small></h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="lead">Bleder</p>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/797425.jpg">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/robot.gif">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/16299076_10155006657734320_1053023615110305558_n.png">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/8635134_orig.jpg">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/7587342_orig.jpg">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/9170259_orig.png">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
              <img class="img-rounded" src="../../static/img/lasseharm/6261393_orig.png">
              <div class="caption text-center">
                <h3>Master Ball</h3>
                <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
                <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>

  <div id="page4" class="games">
    <div class="container">
      <div class="page-header">
        <h1> <small>Games & Demos</small></h1>
      </div>
      <div class="container">

        <div id="gameHere">
          <div class="form-group">
            <input id="gameBtn" type="button" class="btn btn-default form-control" value="Click to Play a Game">
          </div>
        </div>
        <div class="row">

          <div class="col-md-4">
            <p class="lead textColor">Past Projects</p>
          </div>

          <div class="col-md-4">
            <p class="lead textColor">Current Projects</p>
          </div>

          <div class="col-md-4">
            <p class="lead textColor">Futur Projects</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="page5" class="web-dev">
    <div class="container">
      <div class="page-header">
        <h1> <small>Web Developement</small></h1>
      </div>

      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="../../static/img/lasseharm/petprofi.png">
            <div class="caption text-center">
              <h3>PetProfi</h3>
              <p>A forum, shop for Breeder, Animal Shelter and Vets</p>
              <p><a href="https://www.petprofi.de" class="btn btn-warning" role="button">show me more</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="../../static/img/lasseharm/dlrg.png">
            <div class="caption text-center">
              <h3>DLRG LoggingTool</h3>
              <p>Timemanagement and record keeping for lifeguards</p>
              <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="../../static/img/lasseharm/9170259_orig.png">
            <div class="caption text-center">
              <h3>Master Ball</h3>
              <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
              <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-3">
          <div class="thumbnail">
            <img class="img-rounded" src="../../static/img/lasseharm/6261393_orig.png">
            <div class="caption text-center">
              <h3>Master Ball</h3>
              <p>Render by Lasse Harm, Original Concept by Shattered-Earth</p>
              <p><a href="#" class="btn btn-warning" role="button">show me more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>

  <div id="page6" class="mobile-dev">
    <div class="container">
      <div class="page-header">
        <h1> <small>Mobile Developement</small></h1>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <div class="footer-logo"><a href="#"><img src="../../static/img/footerLogo.png">Lasse Harm</a></div>
        <dl class="footer-nav">
          <dt class="nav-title">PORTFOLIO</dt>
          <dd class="nav-item"><a href="#">Web Design</a></dd>
          <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
          <dd class="nav-item"><a href="#">Mobile Design</a></dd>
          <dd class="nav-item"><a href="#">3D Models</a></dd>
          <dd class="nav-item"><a href="#">Game Developement</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">ABOUT</dt>
          <dd class="nav-item"><a href="#">The Company</a></dd>
          <dd class="nav-item"><a href="#">History</a></dd>
          <dd class="nav-item"><a href="#">Vision</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">GALLERY</dt>
          <dd class="nav-item"><a href="#">DeviantArt</a></dd>
          <dd class="nav-item"><a href="#">ArtStation</a></dd>
          <dd class="nav-item"><a href="#">iStockPhoto</a></dd>
          <dd class="nav-item"><a href="#">PhotoDune</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">CONTACT</dt>
          <dd class="nav-item"><a href="#">Basic Info</a></dd>
          <dd class="nav-item"><a href="#">Conctact Form</a></dd>
        </dl>
      </div>
      <div class="footer-copyright text-center">Copyright © 2017 Lasse Harm rights reserved.</div>
    </div>
  </div>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    // ------------------------------------------------------
    // site-indicator logic
    // ------------------------------------------------------

    $(window).scroll(function() {
      var hT = $('#page1').offset().top,
        hH = $('#page1').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH)) {
        $("#page-indicator-1").attr('src', '../../static/img/circle.png');
        $("#page-indicator-2").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page2').offset().top,
        hH = $('#page2').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH)) {
        $("#page-indicator-2").attr('src', '../../static/img/circle.png');
        $("#page-indicator-3").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page3').offset().top,
        hH = $('#page3').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH)) {
        $("#page-indicator-3").attr('src', '../../static/img/circle.png');
        $("#page-indicator-4").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page4').offset().top,
        hH = $('#page4').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH)) {
        $("#page-indicator-4").attr('src', '../../static/img/circle.png');
        $("#page-indicator-5").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page5').offset().top,
        hH = $('#page5').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS > (hT + hH - wH)) {
        $("#page-indicator-5").attr('src', '../../static/img/circle.png');
        $("#page-indicator-6").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page5').offset().top,
        hH = $('#page5').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS < (hT + hH - wH)) {
        $("#page-indicator-6").attr('src', '../../static/img/circle.png');
        $("#page-indicator-5").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page4').offset().top,
        hH = $('#page4').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS < (hT + hH - wH)) {
        $("#page-indicator-5").attr('src', '../../static/img/circle.png');
        $("#page-indicator-4").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page3').offset().top,
        hH = $('#page3').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS < (hT + hH - wH)) {
        $("#page-indicator-4").attr('src', '../../static/img/circle.png');
        $("#page-indicator-3").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page2').offset().top,
        hH = $('#page2').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS < (hT + hH - wH)) {
        $("#page-indicator-3").attr('src', '../../static/img/circle.png');
        $("#page-indicator-2").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });

    $(window).scroll(function() {
      var hT = $('#page1').offset().top,
        hH = $('#page1').outerHeight(),
        wH = $(window).height(),
        wS = $(this).scrollTop();
      if (wS < (hT + hH - wH)) {
        $("#page-indicator-2").attr('src', '../../static/img/circle.png');
        $("#page-indicator-1").attr('src', '../../static/img/circleActive.png');
        console.log("hier");
      }
    });


    // ------------------------------------------------------
    // navigation logic
    // ------------------------------------------------------

    $('#btn-art').click(function() {
      $('html, body').animate({
        scrollTop: $("#page2").offset().top
      }, 2000);
    });

    $('#btn-game').click(function() {
      $('html, body').animate({
        scrollTop: $("#page3").offset().top
      }, 2000);
    });

    $('#btn-web').click(function() {
      $('html, body').animate({
        scrollTop: $("#page4").offset().top
      }, 2000);
    });

    $('#btn-mob').click(function() {
      $('html, body').animate({
        scrollTop: $("#page5").offset().top
      }, 2000);
    });
  </script>

  <script type="text/javascript">

  $('#gameBtn').click(function() {
    var string = '<div class="row"> <div class=" col-md-12"> <div class="embed-responsive embed-responsive-16by9"> <iframe class="embed-responsive-item" src="http://lasseharm.space/blender_dc_collab"></iframe> </div> <!-- class="embed-responsive-item" --> </div> </div> <br> <div class="col-md-12"><div class="form-group"><input id="gameRemoveBtn" type="button" class="btn btn-default form-control" value="Stop the Game"></div></div> <scr' + 'ipt type="text/javascript"> $("#gameRemoveBtn").click(function() {$("#gameHere").html(' + ' +"<div class="form-group"><input id="gameBtn" type="button" class="btn btn-default form-control" value="Click to Play a Game"></div>"' + ');})</scr' + 'ipt>';
    $('#gameHere').html(string);
  });

  </script>
</body>

</html>
