body
{
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
}

/* ausrichtung  #f15478 */
.center-text
{
  text-align: center;
}
.center-vertical
{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal
{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  background-color: #1f1f1f;
  display: flex; /* or inline-flex */
}

.con1-item {
  order: 1;
}

.con1-item2 {
  order: 2;
}

.con1-item3
{
  order: 3;
  background-color: #fff;
  height:30px;
  width: 100px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: middle;
  border: 0;
  margin-top: 1%;
  margin-left: 1%;
  padding-left: 1em;
  padding-right: .1em;
}

.con1-item4
{
  order: 3;
  background-color: #ed2553;
  height:32px;
  width: 40px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 0;
  margin-top: 1%;
  color: #fff;
}

.con1-item4:hover
{
background-color:  #f15478;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.con1-item5
{
  order: 3;
  background-color: #ed2553;
  height:32px;
  width: 100px;
  border-radius: 3px;
  border: 0;
  color: #fff;
}

.con1-item5:hover
{
background-color:  #f15478;
}

.con1-item6
{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #ed2553;
  height:50px;
  width: 50px;
  border-radius: 100%;
  border: 0;
  color: #fff;
}

.con1-item6:hover
{
background-color:  #f15478;
}

.menumarging
{
  margin: 1%;

}

.container2 {
  display: flex; /* or inline-flex */
}

.con2-item1
{
  order: 1;
}

.con2-item2
{
  flex-grow: 1;
  max-width: 60%;
  max-height: 60%;
}

.con2-item3
{
  order: 3;
}
